// Lien vers mes polices
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');


*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

//Les couleurs doivent être modifiées.
:root{
    --primaryColor:#ad91cf;
    --secondaryColor:rgb(196,169,230);
    --blackColor:rgb(46,46,71);
    --borderColor:rgb(46,46,71);
    --inputColor:rgb(241,241,241);
    --successColor:rgb(205,237,207);
    --failureColor:rgb(255,0,0);
}

html{
    font-size: 90%;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

   
}

.form_container{
    width: 290px;
    height: 450px;
    padding: 0 1rem;
    border-radius: 3px;
    border: 1px solid rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    background: #ad91cf;
    overflow: hidden;
    z-index: 1;
}

    .overlay{
        position: absolute;
        background:rgb(196,169,230) ;
        content: "";
        height: 500px;
        width: 500px;
        border-radius: 50%;
        z-index: 2;
        top: -20%;
        display: none;
    }

    .titleDiv{
        position: relative;
        width: 100%;
        margin: 10px auto 5px;
        text-align: center;
        transform: translateY(-3rem);
        z-index: 1000;

    }

    .title{
        color: rgb(46,46,71);
        font-weight: 700;
        font-size: 2.5rem;
    }

    .rows{
        display: grid;
        position: relative;
        gap:1rem ;
        z-index: 1000;
        transform: translateY(-1rem);
        padding-bottom: 1rem;
    }
//on verra bien !
    label{
        display: block;
        padding-bottom: 285rem;
        font-size: 13px;
    }

    input{
        width: 100%;
        background:rgb(241,241,241) ;
        border: none;
        outline: none;
        color: rgb(46,46,71);
        font-weight: 500;
        padding: .5rem;
        border-radius: 3px;
    }

    ::placeholder{
        font-size: 10px;
    }

    #submitBtn{
        background: rgb(46,46,71);
        border-radius: 3px;
        cursor: pointer;
        color: white;

    }
    #submitBtn:hover{
        background: rgb(203, 203,235);
        color: rgb(46,46,71);
    }

    .participant{
        display: block;
        font-size: 13px;
        color:rgb(46,46,71);
        text-align: center;
        font-weight: 400;
        margin-top: 1rem;

    }

    a{
        text-decoration: none;
        cursor: pointer;
    }